@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --color-primary: #FFFFFF;
    --color-primary-hover: #d4d4d8;
    --color-secondary-light: #0f0f0d;
    --color-secondary: #000000;
    --color-tertiary: #718096;
    --color-accent: #E1C340;
}


@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
  }

  .animation-delay-300 {
    animation-delay: 0.3s;
    opacity: 0;
  }

  .animation-delay-600 {
    animation-delay: 0.6s;
    opacity: 0;
  }

  .animation-delay-900 {
    animation-delay: 0.9s;
    opacity: 0;
  }

  .animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
  }

  .animate-on-scroll.animate-fade-in-up {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes highlightCycle1 {
  0%, 10% {
    color: var(--color-primary);
  }
  20%, 30% {
    color: var(--color-accent);
  }
  40% {
    color: var(--color-primary);
  }
}

@keyframes highlightCycle2 {
  0%, 35% {
    color: var(--color-primary);
  }
  45%, 55% {
    color: var(--color-accent);
  }
  65% {
    color: var(--color-primary);
  }
}

@keyframes highlightCycle3 {
  0%, 60% {
    color: var(--color-primary);
  }
  70%, 80% {
    color: var(--color-accent);
  }
  90% {
    color: var(--color-primary);
  }
}

@keyframes highlightCycle4 {
  0%, 5% {
    color: var(--color-accent);
  }
  15%, 85% {
    color: var(--color-primary);
  }
  95%, 100% {
    color: var(--color-accent);
  }
}

.highlight-1 {
  animation: highlightCycle1 4s linear infinite;
}
.highlight-2 {
  animation: highlightCycle2 4s linear infinite;
}
.highlight-3 {
  animation: highlightCycle3 4s linear infinite;
}
.highlight-4 {
  animation: highlightCycle4 4s linear infinite;
}


html {
  scroll-behavior: smooth;
}

.scroll-container {
  -webkit-overflow-scrolling: auto; /* au lieu de 'touch', désactive le lancé de scroll */
}